<div class="row" ng-controller="secondaryController">

	<div ng-repeat="item in items">
		<div ng-if="item.number === '1'">
			<div class="{{item.class}}" id="{{item.id}}" style="{{item.styler}}">
				<div class="panel panel-default">
			    <div class="panel-heading"><span>Title:</span> {{item.title}}</div>
			    <div class="panel-body">

						<!-- <hc-chart options="chartOptions">generic chart</hc-chart>
			      <hc-pie-chart title="Browser usage" data="pieData">pie chart</hc-pie-chart> -->

					</div>
			  </div>
			</div>
		</div>
	</div>

</div>
